DATABASE_URL="sqlserver://<host>;database=<database>;user=<user>;password=<password>;encrypt=true;trustServerCertificate=true;connection_limit=10"
NODE_ENV=production
SERVICE_NAME=integracao-acessos-backend
LOG_LEVEL=info
LOG_PRETTY=false

OTEL_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://10.39.112.3:4318
ERROR_CAPTURE_URL=http://10.39.112.3:4400
ERROR_CAPTURE_KEY=<preencher-no-ambiente>

GOOGLE_CLIENTKEY_LICEU=<preencher-no-ambiente>
GOOGLE_KEY_LICEU="<preencher-no-ambiente>"
IMPERSONATOR_LICEU=<preencher-no-ambiente>
GOOGLE_CLIENTKEY_CEL=<preencher-no-ambiente>
GOOGLE_KEY_CEL="<preencher-no-ambiente>"
IMPERSONATOR_CEL=<preencher-no-ambiente>

PERIODO_LETIVO=2026

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

TOTVS_API_URL=<preencher-no-ambiente>
TOTVS_API_PORTAL_URL=<preencher-no-ambiente>
TOTVS_API_AUTHORIZATION=<preencher-no-ambiente>

API_KEY=<preencher-no-ambiente>
